:root{
  --color: #000000
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body{
  width: 100%;
  display: flex;
  justify-content: center;
}

input, button{
  padding: 3px 5px;
}

input{
  margin-right: 5px;
}