:root{
  --color: #000000
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body{
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

input, button{
  padding: 3px 5px;
}

input{
  margin-right: 5px;
}

.recipe-card{
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

ul{
  margin-left: 20px;
  width: 500px;
}

img{
  margin: 20px 0;
}

form{
  margin: 20px 0;
}